<app-header title="Cadastro"></app-header>
<ion-content>
    <h1  class="d-flex-center">Bem Vindo</h1>
    <div class="d-flex-center">
        <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">



            <app-custom-input
            autocomplete="name" 
            icon="person-outline" 
            [control]="form.controls.name" 
            type="text" label="Nome">
           </app-custom-input>

           <div class="validators" *ngIf="form.controls.name.errors && form.controls.name.touched">
            <div *ngIf="form.controls.name.errors?.['required']">O nome é necessário</div>
            <div *ngIf="form.controls.email.errors?.['minLenght']">O nome precisa ter no mínimo 4 letras</div>
           </div>

            <app-custom-input
                autocomplete="email" 
                icon="mail-outline" 
                [control]="form.controls.email" 
                type="email" label="Email">
            </app-custom-input>
            
            <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
                <div *ngIf="form.controls.email.errors?.['required']">O email é necessário</div>
                <div *ngIf="form.controls.email.errors?.['email']">Coloque um email Valido</div>
            </div>
            
            <app-custom-input 
                icon="lock-closed-outline" 
                [control]="form.controls.password"
                type="password" label="Senha" >
            </app-custom-input>

            <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched">
                <div *ngIf="form.controls.password.errors?.['required']">A Senha é necessária</div>        
            </div>

           <p routerLink="/auth" class="ion-text-end">Já tem uma conta?</p>

            <ion-button expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid">
              Cadastre-se
              <ion-icon slot="end" name="person-add-outline"></ion-icon>
            </ion-button>
           
        </form>
    </div>    
   
  
  
</ion-content>
